<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>学生成绩查询</title>
</head>
<body>
	<form  method="post">
    <table>
        <tr>
            <td><label >name:</label></td>
            <td><input type="text" id="txtname" name="uname" /></td>
        </tr>
        <tr>
            <td><label >password:</label></td>
            <td><input type="password" id="txtpswd" name="pwd" /></td>
        </tr>
        <tr>
            <td >
                <a href="/my"><input type="submit" /></a>
            </td>
        </tr>
    </table>
</form> 
</body>